body {
    background-image: url("https://i.pinimg.com/originals/aa/2b/4c/aa2b4c7c21db47d6bcd3dac560ee3707.jpg");
    font-family: arial;
    background-size: auto 100vh;
    height: 100vh;
  }
  .menu {
    background-color: black;
    font-style: italic;
  }
  .menu ul {
    display: flex;
    justify-content: space-around;
  }
  .menu li {
    list-style: none;
  }
  a {
    color: teal;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  
  .site-subtitle,
  .site-title {
    color: crimson;
    text-align: center
  }
  
  .site-subtitle {
    font-style: italic;
  }